body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

nav {
  
 background-image: url("Paisaje.jpeg");
 background-color: #cccccc;
 padding: 10px;

}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: #00bcd4;
}

.container {
  padding: 40px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
img{
  width: 250px;
}
#paisaje{
  width: 100%;
}
#inicio{
text-align: center;
}
#sobre_mi{
text-align: center;
}
#proyecto{
text-align: center;
}
#habilidades{
text-align: center;
}
#contacto{
text-align: center;
}
ul{
  list-style: none;
}
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        header { background: #333; color: #fff; padding: 1rem; text-align: center; }
        nav { margin: 1rem 0; }
        nav a { margin: 0 1rem; color: #fff; text-decoration: none; }
        section { padding: 2rem; }
        footer { background: #333; color: #fff; text-align: center; position: relative; width: 100%; bottom: 0; }
#fondo{
  display: flex;
  width: 100%;
  background-image: url("Paisaje.jpeg");
}
